<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 借口全类名 -->
<mapper namespace="com.ma969.dao.ChannelsMapper">
	<select id="listChannels" resultType="com.ma969.beans.Channels">
		SELECT * FROM channels;
	</select>
</mapper>