<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 借口全类名 -->
<mapper namespace="com.ma969.dao.RoomMapper">
	<insert id="addRoom" parameterType="com.ma969.beans.Room"
		useGeneratedKeys="true" keyProperty="roomId">
		INSERT INTO
		room_config(POSITION,powerDistribution,grounding,deviceStatus,airConditioner)
		VALUES(#{roomPosition},#{roomDeviceStatus},#{powerDistribution},#{grounding},#{airConditioner});
	</insert>
	<update id="updateRoom" parameterType="com.ma969.beans.Room">
		UPDATE room_config SET
		POSITION=#{roomPosition},powerDistribution=#{powerDistribution},grounding=#{grounding},deviceStatus=#{roomDeviceStatus},airConditioner=#{airConditioner}
		WHERE rid=#{roomId};
	</update>
	<delete id="deleteRoom" parameterType="int">
		delete from room_config
		WHERE rid=#{roomId};
	</delete>
	<update id="updateRstate" parameterType="int">
		update room_config set
		rstate=1 where rid=#{roomId};
	</update>
</mapper>